<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Ingresar al Sistema
    body
        h3 Iniciar Sesi贸n de Usuario
        form(action="/sesiones",method="post")
            label(for="email") Correo Electr贸nico:
            input(type="email", name="email", placeholder="Ingrese el correo electr贸nico")
            br
            label(for="clave") Ingrese la clave:
            input(type="password", name="password", placeholder="Ingrese la clave")
            br
            input(type="submit", value="Iniciar Sesi贸n")
