<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        h2 Mostrando elemento #{tarea.id}
        h3 Descripcion: #{tarea.descripcion}
        p Fecha de Creación:  #{tarea.createdAt}
        form(action=`/tareas/${tarea.id}?_method=DELETE`, method="post")
            input(type="submit", value="Eliminar")